@import url(./fonts.css);

:root {
    --c700: "Comfortaa-Bold";
    --c400: "Comfortaa-Regular";
    --m700: "Montserrat-Bold";
    --m400: "Montserrat-Regular";
    --r500: "Roboto-Medium";
    --r400: "Roboto-Regular";
    --black: #040D1F;
    --gold: #F18128;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--black);
}
.nav{
    position:sticky;
    top: -80px;
    z-index: 99;
}
.nav__top {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bgcolor 2s linear infinite;
}

@keyframes bgcolor {
    to {
        filter: hue-rotate(360deg);
    }
}

.film__icon {
    font-size: 40px;
    color: #fff;
    animation: rotate 1s linear infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

.nav__text {
    font-family: var(--c400);
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    width: 166px;
    margin-left: 24px;
}

.nav__info {
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(7.5px);
}

.nav__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav__logo {
    font-family: var(--c700);
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.nav__list {
    display: flex;
}

.nav__link {
    font-family: var(--m400);
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 18px;
    display: block;
    transition: 0.5s;
}

.nav__link span {
    padding: 42px 6px 40px;
    display: block;
}

.nav__link::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--gold);
    border-radius: 20px 20px 0px 0px;
    display: block;
    transform: scale(0);
    transition: 0.5s;
}

.nav__link:hover {
    color: var(--gold);
}

.nav__link:hover::after {
    transform: scale(1);
}

/* Header start  */
.header {
    background-image: url(../images/header_nh.png);
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.header::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(7, 15, 25, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header__title {
    font-family: var(--m700);
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;

}

.header__text {
    font-family: var(--m400);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #C8C8C8;
    max-width: 570px;
    width: 100%;
    margin: 30px 0 50px;
}

.link {
    font-family: var(--r500);
    font-size: 14px;
    line-height: 86%;
    color: #000000;
    width: 166px;
    height: 45px;
    background-color: var(--gold);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__info {
    display: flex;
}

.header__link {
    background-color: var(--black);
    color: #fff;
    margin-left: 30px;
}


/* Header end */
/* Films start */
.title {
    font-family: var(--c400);
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--gold);
    margin: 50px 0;
    width: max-content;
    cursor: pointer;
    overflow: hidden;
}

.title::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--gold);
    display: block;
    margin-top: 10px;
    transform: translateX(-100%);
    transition: 0.5s;
}

.title:hover::after {
    transform: translate(0);
}

.film__card {
    width: 255px;
    height: 367px;
    background-image: url(../images/film_1.png);
    border-radius: 6px;
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px 20px;
    overflow: hidden;
    cursor: pointer;
}

.shadow {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    transition: 1s;
    opacity: 0.5;
}

.play {
    color: #fff;
    font-size: 46px;
    transition: 1s;
    transform: translateY(-110px);
}

.film__time {
    font-family: var(--m400);
    font-size: 14px;
    line-height: 71%;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    padding: 6px 27px;
    margin-top: 18px;
    transition: 1s;
    transform: translateX(200px);
}

.film__title {
    margin: 18px 0;
    font-family: var(--m400);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    transition: 1s;
    transform: translateX(-220px);
}

.film__text {
    font-family: var(--r400);
    font-size: 14px;
    line-height: 150%;
    text-align: justify;
    transition: 1s;
    transform: translateY(180px);
}

.film__card:hover .shadow {
    opacity: 1;
}

.film__card:hover .play {
    transform: translate(0) rotateX(720deg);
}

.film__card:hover .film__time,
.film__card:hover .film__title,
.film__card:hover .film__text {
    transform: translate(0);
}

.film__box {
    display: flex;
    justify-content: space-between;
}

.film__card:nth-of-type(2) {
    background-image: url(../images/film_2.png);
}

.film__card:nth-of-type(3) {
    background-image: url(../images/film_3.png);
}

.film__card:nth-of-type(4) {
    background-image: url(../images/film_4.png);
}


body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    border-radius: 30px;
}

/* Films end */
/* Widow start */
.widow {
    margin-top: 70px;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    height: 500px;
    position: relative;
    overflow: hidden;
}

.widow__video {
    height: 135%;
    position: absolute;
    right: 0;
    top: -18%;
    z-index: -1;
}

.widow__title {
    margin-top: 40px;
}

.widow__text {
    font-family: var(--r400);
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    color: #000;
    max-width: 558px;
    width: 100%;
    margin: 50px 0;
}

/* Widow end */
/* Collect start */
.collect__card {
    max-width: 350px;
    width: 100%;
    height: 193px;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;

}

.collect__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 1s;
}

.left {
    position: absolute;
    top: 8px;
    left: 7px;
    transition: 1s;
}

.right {
    position: absolute;
    top: 8px;
    right: 7px;
    transition: 1s;
}

.play__icon {
    font-size: 45px;
    color: #fff;
}

.collect__title {
    font-family: var(--c700);
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 15px;
}

.collect__card:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15),
        0 0 20px rgba(255, 255, 255, 0.15),
        0 0 30px rgba(255, 255, 255, 0.15),
        0 0 40px rgba(255, 255, 255, 0.15),
        0 0 50px rgba(255, 255, 255, 0.15);
}

.collect__card:hover .collect__img {
    transform: scale(1.2);
}

.collect__card:hover .left {
    transform: translateY(-120%) rotateY(720deg);
}

.collect__card:hover .right {
    transform: translateY(120%) rotateY(720deg);
}

.collect__box {
    display: flex;
    justify-content: space-between;
}

/* Collect end */
/* Game start */
.game {
    background-image: url(../images/game.png);
    height: 436px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    border-radius: 6px;
    overflow: hidden;
}

.game::after {
    content: "";
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.game__title {
    font-family: var(--c700);
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
}

.game__text {
    font-family: var(--c400);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 30px 0;
}

/* Game end */
/* Series start */
.series__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.series__card {
    min-height: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.series__card::after {
    content: "";
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: 1s;
}

.series__card:nth-of-type(1) {
    background-image: url(../images/1.png);
    background-position: center;
    grid-column: span 2;
    grid-row: span 2;
}

.series__card:nth-of-type(2) {
    background-image: url(../images/2.png);
    background-position: center;
}

.series__card:nth-of-type(3) {
    background-image: url(../images/3.png);
    background-position: center;
}

.series__card:nth-of-type(4) {
    background-image: url(../images/4.png);
    background-position: center;
}

.series__card:nth-of-type(5) {
    background-image: url(../images/5.png);
    background-position: center;
}

.series__title {
    font-family: var(--c700);
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 20px;
    transform: scale(0);
    transition: 1s;
}

.series__card .play__icon {
    transform: scale(0);
    transition: 1s;
}

.series__card:hover .play__icon,
.series__card:hover .series__title {
    transform: scale(1);
}

.series__card:hover::after {
    top: 0;
}

/* Series end */
/* footer start */
.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    margin-top: 60px;
    padding: 24px 0;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__link {
    margin-right: 50px;
}
.footer__text {
    font-family: var(--c700);
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 1px;
    color: #FFFFFF;

}
.bar,
.close{
    color: white;
    cursor: pointer;
    font-size: 30px;
    display: none;
}

#menu,
#close{
    display: none;
}